doctype html
html(data-scale="true")
  head
    include ./header.pug
    block title
    style
      include ../css/loading.css
    block css
  body
    block main
      div#container
        .sk-cube-grid
          .sk-cube.sk-cube1
          .sk-cube.sk-cube2
          .sk-cube.sk-cube3
          .sk-cube.sk-cube4
          .sk-cube.sk-cube5
          .sk-cube.sk-cube6
          .sk-cube.sk-cube7
          .sk-cube.sk-cube8
          .sk-cube.sk-cube9
    block js


    script(src='https://res.wx.qq.com/open/js/jweixin-1.2.0.js')
