meta(charset='utf-8')
meta(http-equiv='Content-Type', content='text/html; charset=UTF-8')
meta(name='renderer', content='webkit')
meta(http-equiv='Cache-Control', content='no-siteapp')
meta(name='format-detection', content='telephone=no')
meta(content='点读，儿童教育', name='description')
meta(content='点读，儿童教育', name='keywords')
meta(name="viewport" content="width=device-width,minimum-scale=1")
