{
  "plugins": [
    [
      "transform-runtime",
      {
        "polyfill": true
      }
    ],
    [
      "import",
      // {
      //   "libraryName": "antd-mobile",
      //   "style": true
      // },
      {
        "libraryName": "antd",
        "style": true
      }
    ]
  ],
  "presets": [
    [
      "env",
      {
        "modules": false
      }
    ],
    "stage-0",
    "react"
  ]
}
