{
  "plugins": [
    ["transform-runtime", {
      "polyfill": true
    }],
    ["import", {
      "libraryName": "antd",
      "style": true
    }],
    ["lodash"]
  ],
  "presets": [
    ["env", {
      "modules": false
    }],
    "stage-0",
    "react"
  ]
}
