.video-play-area__wapper {
  .ant-row-flex {
    margin-bottom: 15px;
  }

  .u-right {
    text-align: right;
  }

  .video-play-area__point {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #6cc;
    border-radius: 50%;
    background: #6cc;
    color: #FFF;
    font-size: 25px;
  }

  .video-play-area {
    position: absolute;
    top: 20%;
    left: 20%;
    z-index: 1;
    display: flex;
    overflow: hidden;
    align-items: center;
    justify-content: center;
    min-width: 100px;
    min-height: 50px;
    border: 2px solid rgb(102, 204, 204);
    border-radius: 3px;
    background: #00000044;
    word-break: keep-all;
  }
}
