.tool-item__animation {
  .ant-collapse {
    border-radius: 0;
    border: 0;

    .ant-collapse-item {
      .ant-collapse-header {
        padding: 10px 10px 10px 40px;
      }

      .ant-collapse-content-box {
        padding: 10px;

        h5 {
          margin-top: 15px;

          &:first-child {
            margin-top: 0;
          }

          label {
            float: right;
            color: #333;
            font-size: 12px;

            input {
              margin-right: 5px;
            }
          }
        }
      }

      .ant-collapse__header {
        display: flex;
        align-items: center;
        user-select: none;

        p {
          flex: 1;
        }

        span {
          display: inline-block;
          margin-right: 10px;
          padding: 0 5px;
          height: 20px;
          border: 1px solid #ff7c80;
          border-radius: 3px;
          color: #ff7c80;
          text-align: center;
          font-size: 12px;
          line-height: 20px;
        }
      }
    }
  }

  .tools-item__content {
    padding: 0;
    user-select: none;
  }

  .tools-item__footer {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    padding: 10px 20px;

    .u-btn {
      flex: 1;
      padding: 0;
      height: 30px;
      font-size: 14px;
      line-height: 30px;

      &:last-child {
        margin-left: 40px;
      }
    }
  }

  .animation-setting__item {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-top: 10px;
    height: 30px;
    font-size: 12px;

    span {
      width: 30px;
      text-align: left;
    }

    input[type="number"] {
      width: 50px !important;
      height: 25px !important;
    }

    label {
      margin-left: 30px;
      width: 50px;

      input[type="checkbox"] {
        width: 20px !important;
      }
    }

    div span {
      margin-right: 5px;
      width: 50px;
    }

    .ant-slider {
      flex: 1;
      margin: 0 15px;

      .ant-slider-handle {
        margin-top: -5px;
        margin-left: -5px;
        width: 12px;
        height: 12px;
      }
    }

    .animation-setting__item-box {
      height: 20px;
      border: 3px;
      border: 1PX solid #DDD;
      background: #eee;
      text-align: center;
      line-height: 20px;
    }
  }

}
