.tool-item__animation {
  .custom-am-grid-item {
    .am-grid-icon {
      margin-top: 0 !important;
      height: 25px !important;
    }
    .am-grid-text {
      margin-top: 0 !important;
    }
  }
  .am-grid-item {
    cursor: pointer;
    .am-grid-item__animation--active {
      background: #DDD;
    }
    .am-grid-item-content {
      padding: 0 !important;
    }
  }
  .am-accordion {
    .am-accordion-header {
      height: 40px !important;
      background-color: #f2f2f2 !important;
      font-size: 14px !important;
      line-height: 40px !important;
      cursor: pointer;
      i {
        top: 12px !important;
        right: 12px !important;
      }
    }
    .am-accordion-content-box {
      padding: 10px;
      h5 {
        margin-top: 15px;
        &:first-child {
          margin-top: 0;
        }
        label {
          float: right;
          color: #333;
          font-size: 12px;
          input {
            margin-right: 5px;
          }
        }
      }
    }
    .accordion-panel__header {
      display: flex;
      align-items: center;
      user-select: none;
      p {
        flex: 1;
      }
      span {
        display: inline-block;
        margin-right: 10px;
        padding: 0 5px;
        height: 20px;
        border: 1px solid #ff7c80;
        border-radius: 3px;
        color: #ff7c80;
        text-align: center;
        font-size: 12px;
        line-height: 20px;
      }
    }
  }
  .tools-item__content {
    padding: 0;
    user-select: none;
  }
  .tools-item__footer {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    padding: 10px 20px;
    .u-btn {
      flex: 1;
      padding: 0;
      height: 30px;
      font-size: 14px;
      line-height: 30px;
      &:last-child {
        margin-left: 40px;
      }
    }
  }
  .animation-setting__item {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-top: 10px;
    height: 30px;
    font-size: 12px;
    span {
      width: 30px;
      text-align: left;
    }
    input[type="number"] {
      width: 50px !important;
      height: 25px !important;
    }
    label {
      margin-left: 30px;
      width: 50px;
      input[type="checkbox"] {
        width: 20px !important;
      }
    }
    div span {
      margin-right: 5px;
      width: 50px;
    }
    .am-slider-wrapper {
      flex: 1;
      margin: 0 15px;
      .am-slider-handle {
        margin-top: -5px;
        margin-left: -5px;
        width: 12px;
        height: 12px;
      }
    }
    .animation-setting__item-box {
      height: 20px;
      border: 3px;
      border: 1PX solid #DDD;
      background: #eee;
      text-align: center;
      line-height: 20px;
    }
  }
}
